# API & Async
aiohttp==3.9.5
aiofiles==24.1.0
requests==2.32.3

# Retry & Logging
tenacity==8.2.3
colorlog==6.8.2

# Postgres
psycopg2-binary==2.9.9
asyncpg==0.29.0

# Redis
redis==5.0.1
aioredis==2.0.1
